body {
    background-color: rgba(31, 177, 106, 0.493);
    color: rgb(10, 4, 15);
    font-family: letras, Arial, Helvetica, sans-serif;
}

img {
    width: 200px;
}
header{
    display: flex;
}
nav {
    /*Las medidas de width pueden ser:
      en pixeles:100px
      en porcentajes:100%
      con relacion al tamaño de la pantalla:100vh */
      width: 100%;
}

ul {
     /* Esta propiedad modifica eladorno del lado izquierdo de las listas.
     Si ponemos como valor none, obligaremos a la lista a no tener adornos*/
     list-style:none;

     /*Estas dos propiedades serán explicadas más adelante */
     display:flex;
     flex-direction: row;
     /*Le indicamos que se posicione a la derecha, equivalente al alinear
     a la derecha de Microsoft Word o similares: ; */
     float:right;

}
a {
    color:cornsilk;
    /*Modificamos el decorado de un texto, si tiene el valor none, le estamos
    indicando que no tendra decoraciones*/
    text-decoration: none;
    /*Le agregamos un margen a la izquierda de 10 pixeles */
    margin-left: 10px;
}
 th, td {
   border: 1px solid black;
   text-align: center;  
   padding: 15px;
}
table { 
    width: 100%;

}
th {
    height: 50px;
    background-color: black;
    color:aliceblue;
}
td {
    background-color: rgb(165, 154, 154);
    color: black;
}
@font-face {
font-family: letras;
src: url('../fonts/ScheherazadeNew-Regular.ttf');

}