body {
    background-color: rgba(31, 177, 106, 0.493);
    color: rgb(10, 4, 15);
    font-family: letras, Arial, Helvetica, sans-serif;
}

img#logo {
    width: 200px;
}
.t-50 {
    width: 50%;
}
header{
    display: flex;
}
nav {
    /*Las medidas de width pueden ser:
      en pixeles:100px
      en porcentajes:100%
      con relacion al tamaño de la pantalla:100vh */
      width: 100%;
}

ul {
     /* Esta propiedad modifica eladorno del lado izquierdo de las listas.
     Si ponemos como valor none, obligaremos a la lista a no tener adornos*/
     list-style:none;

     /*Estas dos propiedades serán explicadas más adelante */
     display:flex;
     flex-direction: row;
     /*Le indicamos que se posicione a la derecha, equivalente al alinear
     a la derecha de Microsoft Word o similares: ; */
     float:right;

}
a {
    font-family: letras2;
    color:rgb(14, 13, 11);
    /*Modificamos el decorado de un texto, si tiene el valor none, le estamos
    indicando que no tendra decoraciones*/
    text-decoration: none;
    /*Le agregamos un margen a la izquierda de 10 pixeles */
    margin-left: 10px;
}
 th, td {
   border: 1px solid black;
   text-align: center;  
   padding: 15px;
}
table { 
    width: 100%;

}
th {
    height: 50px;
    background-color: black;
    color:aliceblue;
}
td {
    background-color: rgb(165, 154, 154);
    color: black;
}
@font-face {
font-family: letras;
src: url('../fonts/ScheherazadeNew-Regular.ttf');

}
@font-face {
    font-family: letras2;
    src: url('../fonts/GREENSEA.otf');
    
    }
article {
    text-align: center;
   /* margin: 32px auto; */
   /* width: 80%; */
}
.column img {
    margin: top 8px;
    vertical-align: middle;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 0 auto;
}
footer {
    text-align: center;
}
div#slider{
    background-image: url('../images/vlcsnap-2016-02-02-20h01m28s61.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 160px);
    animation: changegojira 5s infinite;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    

}
@keyframes changegojira {
    0%  {
background-image: url('../images/regular-show--source.jpg.crdownload');
    }
    25% {
        background-image: url('../images/mrdecai\ margaret\ cj.jpg.crdownload');
    }
    50% {
        background-image: url('../images/Historias_corrientes_Regular_Show_Serie_de_TV-329426216-mmed.jpg');
    }
    75% {
        background-image: url('../images/B8357-A_01cVODs-1928-308902---REGULAR-SHOW---DIGITAL-SHORTS---233C-131592-286016_VIDSCREENSHOT_30_0.jpg');
    }
   100% {
        background-image: url('../images/descarga.jpg');
    }
}
        